@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Satisfy&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #767676;
  font-family: "Montserrat";
  transition: all 0.3s ease;
}
a:hover {
  color: #111111;
}

body {
  font-family: "Montserrat", sans-serif;
}

.cursorFollower {
  position: fixed;
  width: 2rem;
  height: 2rem;
  border: 2px solid #767676;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 120ms ease-in-out;
  z-index: 999;
  pointer-events: none;
}

.cursorFollowerDot {
  position: fixed;
  width: 0.4rem;
  height: 0.4rem;
  background: #111111;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 120ms ease-in-out, width 120ms ease-in, height 120ms ease-in;
  z-index: 999;
  pointer-events: none;
}

.cursor-active {
  width: 4rem;
  height: 4rem;
  background: rgba(51, 51, 51, 0.4784313725);
}

.cursor-activeFollower {
  display: none;
}

.overlay {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: minmax(150px, 25%) 1fr;
}

header {
  display: grid;
  place-items: center;
  background: #ffffff;
}
header .content-wrap {
  display: inline-block;
  width: 200px;
}
header .content-wrap .branding a {
  display: inline-block;
  font-family: "Satisfy", cursive;
  font-size: 48px;
  color: #111111;
}
header .content-wrap .nav-bar {
  padding: 35px 0;
}
header .content-wrap .nav-bar li a {
  display: inline-block;
  font-size: 15px;
  padding-bottom: 10px;
}
header .content-wrap .nav-bar li .active {
  color: #111111;
}
header .content-wrap .copyright {
  display: inline-block;
  font-size: 14px;
  color: #767676;
}

.home {
  background: #f3f3f3;
}

.home-overlay {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/noise-light.png");
  background-repeat: repeat;
}
.home-overlay .home-content {
  display: flex;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.home-img {
  background-image: url("../assets/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, 0.3);
}

.home-text {
  width: 460px;
  margin-left: 80px;
}
.home-text .home-heading {
  margin-bottom: 15px;
}
.home-text .home-heading h1 {
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
}
.home-text .home-pera p {
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 500;
  color: #767676;
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */